.main {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  flex: 1 0 auto;
  color: #fff;
  background: #1d2c31;
  max-width: 100%;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 4rem 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagline {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.tagline h2 {
  font-size: 2rem;
}

.tagline h2 b {
  color: var(--ifm-color-primary);
}

.tagline p:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 996px) {
  .taglineContainer {
    margin: 2rem 4rem;
    --ifm-col-width: calc(100% - 8rem);
  }
}

@media (max-width: 500px) {
  .taglineContainer {
    margin: 2rem 1rem;
    --ifm-col-width: calc(100% - 2rem);
  }
}
